
h3{
	font-size: 1.0em;
	padding: .5em 0;
}
img {
	display: block;
}
ul{
	list-style: none;
	padding: 0;
}
li{
	line-height: 6em;
}
#artsec{
	padding: 2em;
	height: 100%;
    width: 70%;
    border: 1.5px solid black;
}
article,section{
	display: inline-block;
	background: rgba(100,123,134, .4);
}

header{
	display: inline;
}
#ltab{
	text-align: left;
	font-size: 1.1em;
	word-spacing: 1.5em
}
#rtab{
	text-align: right;
	font-size: 1.1em;
	word-spacing: 1.5em;
}
span{
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
}
footer {
	text-align: center;
	padding: 1em 0;
}
body{

	margin: 12px;
}
