body {
	font-weight: 24px;
	font-size: small;
	background: url("CuCat.png");
	/*border: 1px solid gray;*/
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: white;
	background-size: 50% 75%;
	/*box-shadow: 50px 5px 50px 60px #B2D5D5;*/ 
	padding: 5% 20% 15% 10%;

}
/*img {
	width: 50%;
	height: 100%;
	float: right;
}*/
hr {
	color: #AAA;
}

h1 {
	font-family: "Optima", sans-serif;
	text-align: center;
	color: black;
	font-size: 35px;
}
p,h3,ul,li{
	font-family: "Verdana", sans-serif;	
}
header {
	text-align: center;
}
ul {
	list-style-type: disc;
	list-style-image: url("aserisk.gif");
	
}


div{
	overflow: hidden;
}
.text_block {
	text-align: left;
	text-transform: capitalize;
	color: black;/*
	background-size: 100% 100%;*/
	height: 100%;
	width: 50%;
	word-wrap: normal;
}